@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
   box-sizing: border-box; 
}
.red-text {
		color: red;
}

.test {
	background: gray;
}

body {
  background: #fdfdfd;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}

p{
  font-family: "Century Gothic", sans-serif;
  font-size: 1rem;
}

main {
  max-width: 900px; 
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 1rem;
}

h1 {
  color: #e74c3c;
  margin-bottom: 0.5rem;
}
footer {
	color: black;
	padding: 0.5rem;
	text-align: left;

}
.texto{
	font-size: 1rem;
	padding: 0.5rem;
	position: left;
	text-align: justify;
	
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); 
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem 0;
}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15rem auto;
  height: 15rem auto;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}
.smaller-image {
    width: 300px;
	image-position: right;
	padding: 10px;
  }
.card--avatar {
  width: 15rem;
  height: 10rem;
  object-fit: contain;
}

.card--title {
  color: #222;
  font-weight: 700;
  text-transform: capitalize;
  word-break: break-word;
  font-size: 1rem;
  margin-top: 0.5rem;
}
.copyright {
    /* display: grid; */
    /* position: relative; */
    left: 46%;
    opacity: 0.7;
    font-size: 80%;
	padding: 1px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card--link {
  text-decoration: none;
  background: #f6968d;
  font-color: white;
  color: #fff;
  padding: 0.3rem 1rem;
  border-radius: 20px;
}
